
.table {
    &__wrapper {
            padding: 30px;
        }

    &__row {
        height: 70px;
    }
}

.table-element {
    height: 600px;
    width: 100%;
    border-collapse: collapse;
    background: #ffffff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}

thead {
    background: #f9fafb;
}

th {
    text-align: center;
    padding: 14px 16px;
    font-size: 13px;
    font-weight: 500;
    color: #666;
}

td {
    padding: 14px 16px;
    font-size: 14px;
    border-top: 1px solid #f0f0f0;
}

tbody {
    overflow-x: auto;

  height: 400px;
}

tbody tr:hover {
    background: #f9fafb;
}

tbody tr td div {
  width: 130px;
  height: 30px;
  text-align: center;
}