.table {
    max-width: 1550px;
    // width: 100%;
    overflow-x: auto;
    margin: 0 auto;
    padding: 30px 0;
}

.row-item--toggle {
}

table {
    height: 500px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 5px;
    border-spacing: 0;
}

th {
    text-align: left;
}

thead th:first-child {
    text-align: right;
    padding-right: 10px;
}

thead th:first-child,
tbody td:first-child {
    border-right: 0;
    width: 20px;
    min-width: 20px;
    max-width: 20px;
    padding: 10px;
    text-align: right;
}

thead th {
    height: 30px;
    width: 130px;
    padding-left: 10px;
    color: gray;
    background-color: #fcfbfc;
    border-top: 1px solid rgba(215, 215, 215, 0.268);
    border-bottom: 1px solid rgba(215, 215, 215, 0.268);
    border-right: 1px solid rgba(215, 215, 215, 0.268);
}

thead th:first-child {
    border-radius: 5px 0 0 5px;
}

thead th:nth-child(11) {
    border-right: 0;
}

thead th:last-child {
    border-radius: 0 5px 5px 0;
}

tbody tr:hover {
    background-color: rgba(218, 210, 210, 0.148);
}

tbody td {
    padding-left: 10px;
    border-right: 1px solid rgba(215, 215, 215, 0.268);
    border-bottom: 1px solid rgba(215, 215, 215, 0.268);
}

tbody td:first-child {
    width: 30px;
    padding-right: 10px;
    text-align: right;
}

thead th:nth-child(11) {
    
}

tbody td:nth-child(11) {
    border-right: none;
}

tbody td:nth-last-child {
    border-right: none;
}

tbody td {
    height: 30px;
}

.element {
    cursor: pointer;
    border: 1px solid black;
    height: 20px;
    position: relative;
}

.element--active::before {
    content: "";
    width: 200px;
    height: 100px;
    background-color: red;
    border-radius: 10px;
    position: absolute;
    left: -11px;
    bottom: -115px;
}

.asset-navigation {
    width: 15px;
    height: 15px;
    padding: 3px;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
    cursor: pointer;
}

.asset-navigation:hover {
    background-color: rgba(169, 160, 160, 0.122);
}

.asset-navigation div {
    width: 4px;
    height: 4px;
    border-radius: 100px;
    background-color: black;
}



























































// table {
//     border-spacing: 0;
// }

// .table {
//     width: 1550px;
//     height: 700px;
//     border-radius: 5px;
//     margin: 30px 30px auto 30px;
//     overflow: auto;
//     border: 1px solid rgba(0,0,0,0.15);
//     border-spacing: 0;

//     thead tr th {
//         font-size: 15px;
//         color: gray;
//     }

    
//     tbody tr:first-child {
//         border-top: 1px solid rgba(0,0,0,0.15);
//     }
//     tr:first-child td {
//       border-top: 1px solid rgba(0,0,0,0.15);
//     }

//     tbody td {
//         border-bottom: 1px solid rgba(0,0,0,0.15);
//         height: 40px;
//     }
    
// }
























// thead tr {
//     height: 30px;
//     // text-align: center;
// }

// thead tr th {
//     padding-left: 30px;
//     font-size: 15px;
// }

// tbody tr {
//     border-bottom: 1px solid rgba(0,0,0,0.15);
//     padding: 10px 0; // важно!
// }



// .table__cell {
//         // position: fixed;
//     }

//     .table__cell th {
//         border-top: 1px solid #cccccc;
//         border-bottom: 1px solid #cccccc;
//         padding-top: 10px;
//         padding-bottom: 10px;
//         // border-top: 1px solid #CCCCCC;
//         // border-top: 1px solid #CCCCCC;
//     }

// .table__wrapper {
//     width: 1500px;
//     margin: 20px auto 0 auto;
//     height: 600px;
//     overflow-x: auto;
// }
// .table {
//     width: 100px;
//     border-spacing: 0 10px;
//     height: 300px;
    
//     &-row {
//         vertical-align: middle;
//         border-top: 1px solid #CCCCCC;
//         border-bottom: 1px solid #CCCCCC;
//     }

//     &__row-item:first-child {
//         display: flex;
//         gap: 20px;
//         justify-content: center;
//         &-row__menu--toggle {

//         }
//     }
//     &__row-item:not(:first-child, :last-child) {
//         text-align: center;
//     }
//     .table__row-item:last-child {
//         position: relative;
//     }

//     .table-row__menu {
//         display: flex;
//         flex-direction: column;
//     }

//     .table-row__menu--active {
//         display: none;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         background-color: white;
//         width: 150px;
//         height: 100px;
//         position: absolute;
//         right: 105px;
//         top: 40px;
//         border-radius: 10px;
//         gap: 3px;
//         transition: 0.5s;
//         z-index: 1;
//         border: 1px solid #cccccc;
//     }

//     .table-row__menu-item {
//         width: 100%;
//         text-align: center;
//         height: 30px;
//         line-height: 30px;
//         border-radius: 5px;
//         cursor: pointer;
//         font-size: 14px;
//         font-weight: bold;
//     }

//     .table-row__menu-item:last-child {
//         color: red;
//     }

//     .table-row__menu-item:hover {
//         background-color: rgb(228, 228, 228);

//     }

//     .table-row__menu button:hover {
//         background-color: #e2e2e2
//     }

//     .table-row__menu-toggle {
//         display: flex;
//         flex-direction: column;
//         gap: 1px;
//         width: 25px;
//         height: 25px;
//         border-radius: 5px;
//         justify-content: center;
//         align-items: center;
//         cursor: pointer;
//     }

//     .table-row__menu-toggle div {
//         width: 5px;
//         height: 5px;
//         background-color: #969696;
//         border-radius: 5px;
//         pointer-events: none;
//     }

//     .table-row__menu-toggle:hover {
//         background-color: #e2e2e2;
//     }

//     &-row__icon {

//     }

//     &-row__element {

//     }

//     .table__row-wrapper {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//     }
// }

// .table__footer {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     margin: auto 30px;
// }