.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}

.popup__close::before {
    content: "";
    width: 18px;
    height: 2px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 10px;
    right: 0px;
    transform: rotate(-45deg);
}


.popup__close::after {
    content: "";
    width: 18px;
    height: 2px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 10px;
    right: 0px;
    transform: rotate(45deg);
}

.popup {
    position: relative;
    width: 450px;
    height: 550px;
    border-radius: 10px;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}


.popup__wrapper {
}

.dark-mode .cls-popup::before {
    background-color: white;
}

.dark-mode .cls-popup::after {
    background-color: white;
}

.dark-mode .popup {
    background-color: #2d2d2d;
}

.dark-mode .form__name > label, .dark-mode .form__contact > label, .dark-mode .form__company > label {
    color: white;
}

.dark-mode .form__name > input, .dark-mode .form__contact > input, .dark-mode .form__company > input {
    border: 0;
    border-radius: 5px;
    background-color: #393939;
    color: rgba(255, 255, 255, 0.695);
}

.dark-mode .form__status > select {
    outline: none;
    border: 0;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.819);
    background-color: #393939;
}

.dark-mode .form__submit > input {
    background-color: #393939;
    color: rgba(255, 255, 255, 0.819);
}

.dark-mode .form__submit > input:hover {
    border: 1px solid rgba(190, 190, 190, 0.068);
}



.popup__wrapper {
    // height: 100%;
    // margin: 100px 20px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}


/* form__name form__status form__contact form__company form__submit */

.form__field    input {
    width: 200px;
    height: 30px;
    font-size: 16px;
    border: 0;
    outline: none;
    border-bottom: 1px solid black;
    margin-left: 20px;
}

.form__field > select {
    width: 200px;
    height: 30px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}

.form__submit > input {
    margin-top: 10px;
    width: 200px;
    height: 35px;
    font-size: 16px;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    background-color: #eeeeee;
}

.form__submit > input:hover {
    border: 1px solid #c8c8c845;
}
