.layout-dashboard {
    width: 100%;
    background-color: #212121;
    display: block;
}

.header {
    width: 100%;
    height: 310px;
    background-color: #1b1c20;
    border-radius: 0 0 15px 15px;
}

.header__wrapper {
    margin: 30px;
}

.header__text > h1 {
    color: white;
}

.header__category {
    margin-top: 50px;
}

.category__text h2 {
    color: white;
}

.category__lists {
    margin-top: 30px;
    display: flex;
    align-items: center;

    gap: 20px;
    flex-direction: row;
}

.category__list__assets {
    width: 300px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 5px;
}

.category__list__licences {
    width: 300px;
    height: 100px;
    background-color: #fae0d1;
    border-radius: 5px;
}

.category__list__accessories {
    width: 300px;
    height: 100px;
    background-color: rgb(213, 248, 255);
    border-radius: 5px;
}

.category__list__components {
    width: 300px;
    height: 100px;
    background-color: rgb(182, 181, 255);
    border-radius: 5px;
}

.category__list__users {
    width: 300px;
    height: 100px;
    background-color: rgba(231, 196, 255, 0.503);
    border-radius: 5px;
}

.category__list__assets hr {
}

.assets__text {
    font-weight: bold;
    margin: 10px 30px;
}

.section-dashboard {
    margin-top: 10px;
    width: 98.06%;
    height: 63.2vh;
    background-color: #1b1c20;
}

.dashboard__wrapper {
}

.dashboard__tabs {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 5px;
}

.tabs__activity, .tabs__second, .tabs__three, .tabs__four {
    cursor: pointer;
    background-color: rgb(227, 218, 218);
    font-size: 16px;
    width: 60px;
    height: 30px;
    border-radius: 0 10px 0 0;
}